.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  min-width: 100vw;
  text-align: center;
  h2 {
    width: 50%;
  }
  p {
    margin-top: 1rem;
  }
}
